<!doctype html>
<html lang="en">
<head>
    
    
    
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>BOTIfy | Profile</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/material-dashboard.css?v=1.2.0" rel="stylesheet" />
    <link href="/css/demo.css" rel="stylesheet" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    
    
</head>

<body>
    <div class="wrapper">
        
        
        <%- sidebar %>
        
        
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> TestBot &nbsp; > &nbsp; Categories </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        
                        
                        <%- header %>
                        
                        
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    
                    <div class="row">
                        
                        
                        
                        <div class="col-md-3">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a href="#pablo">
                                        <img class="img" src="/img/bot_avatar.png" />
                                    </a>
                                </div>
                                <div class="content">
                                    
                                    <h4 class="card-title"> TestBot </h4>
                                    <p class="card-content">
                                        
                                        This is a test description for the bot to reside on. Put a lot of Lorem Ipsum to the bot so you can have a lot of content.
                                        
                                    </p>
                                    
                                    
                                    
                                    <!--<a href="http://botengine-enaiho.c9users.io" target="_blank" class="btn btn-primary btn-round">OPEN BOT</a>-->
                                    <!--<a href="/bot" class="btn btn-success btn-round" id="btn_settings"><i class="material-icons">settings</i> SETTINGS</a>-->
                                    <!--<a href="javascript:destroy();" class="btn btn-danger btn-round" id="destroy_bot">DESTROY BOT</a>-->
                                    
                                    
            						<br />
                                    <br />


                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-9">
                            
                                                      
                            <br />
                            
                            <div class="panel-group" id="accordion" style="margin-top:1%;">
                              
                              
                              
                              <div class="panel panel-default" style="box-shadow:none; border:0px solid;">
                                <div class="panel-heading" style="background:#FFF; box-shadow:none;">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    Category 1</a>
                                  </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                  <div class="panel-body">
                                      
                                      
                                      <br />
                                      
                                      <table style="border:0px; width:100%">
                                        
                                        <tbody>
                                            
                                            
                                            <tr>
                                                
                                                
                                                
                                                <td><strong>Question:</strong></td>
                                                <td>How do you get to know when you are an intelligent human being or not?
                                                
                                                <button id="val_" title="Edit Keyword" type="button" class="cls_edit_value btn btn-primary btn-simple btn-xs">
                                                    <i class="material-icons">edit</i>
                                                </button>  <br />
                                                
                                                </td>
                                            
                                            
                                            </tr>
                                          
                                            
                                            <tr height="40px">
                                                
                                                <td><strong>Answer:</strong></td>
                                                <td aling="right">You get to know you are an intelligent human wheN you have exhibited the following traits.<br /></td>
                                            
                                            </tr>
                                          
                                            
                                                
                                        </tbody>
                                        
                                    
                                    </table>
                                    
                                    <br />
                                    
                                  
                                  </div>
                                
                                
                                </div>
                              
                              
                              
                              </div> 
                              
                              <br />
                              
                              <div class="panel panel-default" style="box-shadow:none; border:0px solid;">
                                <div class="panel-heading" style="background:#FFF; box-shadow:none;">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                    Category 2</a>
                                  </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                  <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                  commodo consequat.</div>
                                </div>
                              </div> <br />
                            
                              <div class="panel panel-default" style="box-shadow:none; border:0px solid;">
                                <div class="panel-heading" style="background:#FFF; box-shadow:none;">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                    Category 3</a>
                                  </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                  <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                  commodo consequat.</div>
                                </div>
                              </div> <br />
                              
                              
                              <div class="panel panel-default" style="box-shadow:none; border:0px solid;">
                                <div class="panel-heading" style="background:#FFF; box-shadow:none;">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                    Category 4</a>
                                  </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                  <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                  commodo consequat.</div>
                                </div>
                              </div> <br />
                              
                              <div class="panel panel-default" style="box-shadow:none; border:0px solid;">
                                <div class="panel-heading" style="background:#FFF; box-shadow:none;">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                    Category 5</a>
                                  </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                  <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                  commodo consequat.</div>
                                </div>
                              </div> <br />
                              
                              
                              <div class="panel panel-default" style="box-shadow:none; border:0px solid;">
                                <div class="panel-heading" style="background:#FFF; box-shadow:none;">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                    Category 6</a>
                                  </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse">
                                  <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                  commodo consequat.</div>
                                </div>
                              </div> <br />

                              
                            
                              
                            </div>
                            
                            
                            <!--
                            
                            <div class="card">
                                
                                
                                <div class="card-content">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Company (disabled)</label>
                                                    <input type="text" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Username</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Email address</label>
                                                    <input type="email" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Fist Name</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Last Name</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Adress</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">City</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Country</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Postal Code</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>About Me</label>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                                        <textarea class="form-control" rows="5"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                                
                                
                            </div>
                            
                            
                            -->
                            
                            
                        </div>
                
                        
                    </div>
                    
                </div>
                
            </div>
            

            <footer class="footer">
                <div class="container-fluid">
                    <p align="center" class="copyright">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="javascript:;">Fintech & Innovations</a>                    </p>
                </div>

            </footer>
            
            
        
</div>
    </div>
    

<div id="ReadInstructions" class="modal fade" role="dialog">
    
    
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        
        
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Connecting your Bot To Messenger</h4>
      </div>
      
      
      <div class="modal-body">
        
        
        <ul>
            
            
            <li>Create a Facebook page for which your want to connect your bot to <i>(Ensure the page is published)</i> </li>
            <li>Create a Facebook app for which the page would be linked to. </li>
            <li>Once the app is created, go to Messenger and click on the Setup</li>
            <li>The setup button would open up a page for a few info to be filled</li>
            <li>Use 'https://botengine-enaiho.c9users.io/messenger/webhook' for your call and 'test_token' for your token </li>
            <li>Setup a page access token by selecting the page you want to connect your messenger to.</li>
            <li>use the token generated to integrate the BOT on Botify. </li>
            
        </ul>
        
        
      </div>
      
      
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    
    
    </div>
  </div>
</div>
<div id="GetStarted" class="modal fade" role="dialog">
    
    
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        
        
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="val_token_title">Connect To Facebook Messenger</h4>
      </div>
      
      
      <div class="modal-body">
        
        
        <form method="post" id="form_val_token">
            
            <div class="row">
                
                <div class="col-md-12">
                    
                    <div class="form-group label-floating">
                        
                        <label class="control-label">Facebook Access Token <i>(please ensure that the right token is inserted)</i></label>
                        <input type="text" class="form-control" id="token" />
                        
                    </div>
                    
                </div>
                
            </div>
            
            <br />
            
            
            <button type="submit" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
            <button type="submit" id="btn_validate_token" class="btn btn-primary pull-right">Validate</button>
            
            
            <div class="clearfix"></div>
            
            
        </form>
        
        
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        
        
        <div class="card_content" id="finish_integration" style="display:none;">
            
            
            
            <label>Messenger/App Name: </label> &nbsp; &nbsp;  <strong id="lbl_app"></strong>
            <p class="card-content">
            
                <label>Access Token: </label> &nbsp; &nbsp;
                
                                                    
                <div class="form-group">
                
                    <div class="form-group label-floating">
                        <textarea class="form-control" rows="5" id="txt_token" disabled=""></textarea>
                    </div>
                
                </div>
                
                
            </p>
            
            <div class="clearfix"></div>
            
            <br />
            
            <button type="submit" class="btn btn-danger pull-right" data-dismiss="modal">Cancel</button>
            <button type="submit" id="btn_finish_integration" class="btn btn-primary pull-right">Finish Integration</button>
            
            <br />
            <br />
            
            
        </div>
        
        
      </div>
      
      
      <div class="modal-footer">
      </div>
    
    
    </div>
  </div>
</div>
    

 
 
    
</body>
<!--   Core JS Files   -->


<script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/material.min.js" type="text/javascript"></script>
<script src="/js/chartist.min.js"></script>
<script src="/js/arrive.min.js"></script>
<script src="/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/js/bootstrap-notify.js"></script>
<script src="/js/material-dashboard.js?v=1.2.0"></script>
<script src="/js/demo.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js"></script>
<script src="/js/app.js"></script>        


</html>