
<!DOCTYPE html>
<html>

<head>
    
    
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botify | Change Password</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/css/styles.css">
    
    
</head>

<body>
    <div class="login-dark">
        
        
        <div class="illustration"><a href="/"><img src="/img/botify_logo.gif" style="height:106px;"></a></div>
        <form method="post">
            
            
            <h2 class="sr-only">Reset Password</h2>
            

            <div class="form-group">
                <input class="form-control" type="password" name="password" id="old_pword" placeholder="New Password">
            </div>
            
            <div class="form-group">
                <input class="form-control" type="password" name="password" id="c_pword" placeholder="Confirm New Password">
            </div>
            
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" id="btn_change_password">Save</button>
            </div>
            
            <br />
            <a href="/login" class="forgot" style="margin-top:2%;">Click here to login</a>
            
            
        </form>
            
            
    </div>


    <input type="hidden" id="user_id" value="<%= user_id %>" />
        
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/bootstrap-notify.js"></script>
    <script src="/js/demo.js"></script>
    <script src="/js/app.js"></script>




</body>
</html>